<html>
    <head>
        <script>
        
            function buscarcarrera(){
                fetch("/carrera.php")
                .then( res => res.json())
                .then( res => {
                    var listaId = document.getElementById('list_Id')
                    var temp = '';
                    res.forEach(m => {

                        temp = temp +'<tr>'+'<td>'+m.id+'</td>' + '<td>'+m.nombre+'</td>'+'</tr>' 
                        listaId.innerHTML = temp;
                    });
                   
                })
                .catch( err => {
                    console.log(err);
                });
            }

        </script>
    </head>

    <body >
       

        <button onclick="buscarcarrera()">Buscar Carrera</button>


        <table border="1px">
            <thead>
                <tr>
                    <th colspan="3">LISTA DE CARRERAS</th>
                </tr>

                <tr>
                    <td><b>Id</b></td>
                    <td><b>Nombre</b></td>
                </tr>

            </thead>
            <tbody id="list_Id">
                
            </tbody>
        </table>
        <!-- <ul id="list_carrera">
        </ul> -->
    </body>
</html>